{
  "modules": [
    "../modules/CustomModule.js"
  ],
  "crawlers": [
    "../crawlers/CustomCrawler.js"
  ],
  "journeys": [
    "../journeys/CustomJourneys.js"
  ],
  "storages": [
    "../storages/CustomStorages.js"
  ],
  "csv_storage": {
    "directory": "./analyses/"
  }
}
