export const config = {
	"modules": [
		// 'node_modules/web-audit-module-ecoindex/src/modules/EcoIndexModule.js',
	],
	"crawlers": [],
	"journeys": [],
	"storages": [],
	"csv_storage": {
		"directory": "./analyses/"
	},
}
