export const config = {
	modules: [
		// 'node_modules/web-audit-module-ecoindex/src/modules/EcoIndexModule.js',
	],
	crawlers: [],
	journeys: [
	    // 'node_modules/web_audit/dist/journey/LandingJourney.js',
	],
	storages: [],
	csv_storage: {
		directory: "./analyses/"
	},
}
